
body {
    min-width: 360px;
    width:100%;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1010;
}

.img-title {
    display: block;
    box-shadow: 2px 4px 4px darkslateblue;
}